.img1 img{
    width: 100%;
    height: 300px;
    position: relative;
    
}
.homesectionn{
    position: fixed;
    top:10px;
    background-color: rgba(255, 255, 255,0.5);
}

.lastpart,.icons,.anchor,.small{
position: absolute;
}

.small{
top:40px;
left:30px;
}
.anchor{
top:50px;
right: 300px;
display: flex;
gap:40px;
}
.anchor a{
    text-decoration: none;
    color: black;
}
.anchor a:hover{
    color: rgb(184, 119, 86);
}
.icons{
top:50px;
right: 30px;
display: flex;
gap: 10px;
}
.lastpart{
    color:white;
    top:20%;
    left:25%;
}
.lastpart .p1{
    font-size: 80px;
    width: 700px;
    margin-top: 10px;
    color: black;
}
.lastpart .p2{
    font-size:15px;
    margin-top: -55px;
     color:rgb(186, 125, 95);
   padding-bottom: 60px;
}
.button1{
     position: fixed;
    z-index: 1000;
    bottom:90px;
    right:10px;    
}
.button1 a{
    display: flex;
   padding-bottom: 10px;
   
}
.button1 button{
    width: 140px;
    height: 60px;
    border: none;
}
.contact{
    display: flex;
    padding: 80px;
}
.contact2{
    padding-left: 40px;
    line-height: 1.5;
}
.contact2 form input,textarea{
    padding: 20px 300px 20px 40px;
    color: rgb(130, 126, 126);
}
.contact2 button{
   padding: 20px 350px 20px 40px;  
   background-color:rgb(186, 125, 95); 
   border: none;
   color: white;
}
.contact2 button:hover{
    background-color: black;
}

.subscribe {
    position: relative;
}

.subscribe img {
    width: 100%;
}

.mail {
    position: absolute;
    top: 50%;
    left: 30%;
    color: white;
}

.mail form input {
    background: transparent;
    border: 2px solid white;
    padding: 15px 170px 15px 30px;
}

.mail ::placeholder {
    color: white;

}

.mail button {
    margin-left: -10px;
    border: 2px solid white;
    padding: 15px 70px;
    color: black;
}

/* Products  and there cost */
.product h1,
h2,
p {
    text-align: center;
}

.product1 img {
    width: 250px;
    height: 250px;
    padding: 20px;
}

.cost {
    display: flex;
    padding: 20px 40px;
}

#sale1,
#sale2 {
    position: relative;
}

#sale1 button,
#sale2 button {
    position: absolute;
    top: -5px;
    left: 30px;
    padding: 20px 10px;
    border-radius: 50%;
    background-color: rgb(152, 196, 217);
    color: white;
    border: none;
}

.footer {
    display: flex;
    justify-content: space-evenly;
}

.footfoot {
    display: flex;
}

.footfoot img {
    padding: 10px 300px;
}

.footfoot a {
    text-decoration: none;
    padding-left: 20px;
    padding-top: 10px;
}

.foothead {
    background-color: rgb(250, 244, 237);
}