.head {
    display: flex;
    box-sizing: border-box;
    gap: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
}

.head i ,a{
    padding-top: 30px;
    font-size: 15px;
    color: black;
}

.head a {
    text-decoration: none;
}

.head form {
    border: none;
}
.head button {
    color: black;
    border: none;
    background-color: transparent;
    height: 1px;
}
/* thrid part completed  */
.journey{
    display: flex;
}
.journey1{
    width: 400px;
}
.journey1 ul li{
list-style-type: none;
}
.journey1 ul li h3{
    background-color:rgb(242, 250, 255);
    display: inline-block;
    padding: 10px;
    width: 190px;
}
.journey1 ul li h3:hover{
    background-color: #0b4203;
    color: white;
}
.journey2{
  margin-left: 30px;
}
.journey2 p{
font-size: 18px;
line-height: 1.7;
white-space: 2px;
}
/* footer part */
.foot{
    display: flex;
    gap:10px;
    background-color: black;
    color: white;
    padding: 10px;
}
.foot button{
border: none;
border-radius: 50%;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
color: white;
}
.foot button{
    background-color:rgb(51, 51, 51);
    
}
.foot #d1{
    background-color: white;
}
